.loader {
  border: 7px solid #c9c7c7;
  border-top: 7px solid #000000; 
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}